<?xml version="1.0" encoding="UTF-8"?>
<EasyXJDF>
	<Settings>
		<Connector>
			<SystemType>Heidelberg Prinect</SystemType>
			<Url>http://localhost:8011</Url>
			<IsDefault>true</IsDefault>
		</Connector>
		<Suggestions>
			<MediaQualities>
				<MediaQuality>IPG_135</MediaQuality>
				<MediaQuality>IPG_170</MediaQuality>
				<MediaQuality>IPG_250</MediaQuality>
			</MediaQualities>
			<CustomerIDs>
				<CustomerID>FA-123</CustomerID>
				<CustomerID>CU-XXX</CustomerID>
				<CustomerID>FA-12333</CustomerID>
				<CustomerID>CU-XXX33</CustomerID>
			</CustomerIDs>
			<CatalogIDs>
				<CatalogID>CAT_FLY_01</CatalogID>
				<CatalogID>CAT_FOLDER</CatalogID>
			</CatalogIDs>
			<Amounts>
				<Amount>250</Amount>
				<Amount>500</Amount>
				<Amount>1000</Amount>
				<Amount>2500</Amount>
				<Amount>5000</Amount>
				<Amount>7500</Amount>
				<Amount>10000</Amount>
			</Amounts>
		</Suggestions>
	</Settings>
</EasyXJDF>